.font_size {
    overflow: hidden;
    display: inline-block;
    text-align: center;
    position: absolute;
    right:.5em;
    top:3.5em;
    span {
        display: inline-block;
        vertical-align: middle;
        font-size: .875em;
        color: #666;
    }
    ul {
        display: inline-block;
        vertical-align: middle;
        @include li-reset;
        li {
            font-size: .938em;
            float: left;
            display: block;
            margin: 0 .2em;
            font-weight: bold;
            a {
                display: block;
                text-align: center;
                line-height: 40px;
                border-radius: 50%;
                background: #fff;
                color: #282828;
                padding: 0!important;
                width: 30px;
                height: 30px;
                line-height: 2.1em;
                &:hover, &:focus {
                    // background: $aHover;
                    // color: #FFF;
                }
                &.active {
                    background: #494949;
                    color:#fff;
                    &:hover, &:focus {
                        background: $aHover;
                        color: #FFF;
                    }
                }
                &.small {
                    // font-size: .938em;
                }
                &.large {
                    // font-size: 1.125em;
                }
                &:before {
                    display: none;
                }
            }
        }
    }
    @include screen('mobile') {
        display: none;
    }
}
